@model Nailhang.Web.Models.ModuleModel

@{string nameSpace = Model.Namespace;}
<h2>
    @Html.ActionLink(@nameSpace, "Index", "Module", new { module = @Model.Module.FullName }, null)
</h2>
<p class="module-description">
    @Model.Module.Description
</p>

<br />

@if (Model.DisplaySettings.ShowInterfaces && Model.Module.Interfaces != null && Model.Module.Interfaces.Length > 0)
{
    <p>Интерфейсы:</p>
    <ul>
        @foreach (var i in Model.Module.Interfaces)
        {
            <li>
                <p class="interface-name">
                    @i.Name.Substring(nameSpace.Length + 1)
                </p>
                @if (!string.IsNullOrEmpty(i.Description))
                {
                    <p class="interface-description">
                        @i.Description
                    </p>
                }

                @if (i.Methods != null && i.Methods.Length > 0)
                {
                    <ul>
                        @foreach (var meth in i.Methods)
                        {
                            <li>
                                <p class="method-name">@meth.MethodString</p>
                                @if (meth.InvocationRestriction != null)
                                {
                                    <p class="method-restriction">@meth.InvocationRestriction.Value</p>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>

    <br />
}



@if (Model.DisplaySettings.ShowObjects && Model.Module.Objects != null && Model.Module.Objects.Length > 0)
{
    <p><i>Объекты:</i></p>
    <ul>
        @foreach (var i in Model.Module.Objects.OrderBy(w => w.Name))
        {
            <li>
                <p>
                    @i.Name.Substring(nameSpace.Length + 1)
                </p>
                @if (!string.IsNullOrEmpty(i.Description))
                {
                    <p class="interface-description">
                        @i.Description
                    </p>
                }
            </li>
        }
    </ul>

    <br />
}



@if (Model.DisplaySettings.ShowDependencies && Model.DependencyItems != null && Model.DependencyItems.Length > 0)
{
    <p><i>Зависимости:</i></p>
    <ul>
        @foreach (var nd in Model.DependencyItems.OrderBy(w => w.Name))
        {
            <li>
                @if (string.IsNullOrEmpty(nd.Module))
                {
                    <p>@nd.Name</p>
                }else
                {
                    <p>
                        @Html.ActionLink(nd.Name, "Index", "Module", new { module = nd.Module }, null)
                    </p>
                }
            </li>
        }
    </ul>
}

<p class="little-text">
    Класс модуля: @Model.Module.FullName
    <br />
    Сборка: @Model.Module.Assembly
</p>

<hr />