@page "/"

@using Nailhang.Blazor.Data
@inject NailhangModulesService NailhangModulesService

<h1>Модули:</h1>

@if (namespaces == null || loadedModules == null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">Пространство имен:</div>
        <div class="panel-body">
            <select @onchange="@UpdateModules">
                @foreach (var ns in namespaces)
                {
                    <option value=@ns>@ns</option>
                }
            </select>
        </div>
    </div>

    <br />


    <p class="little-text">
        Всего модулей: @loadedModules.Length
    </p>
    <div class="module-columns">

        <ul>
            @foreach (var m in loadedModules.OrderBy(w => w.Module.FullName))
            {
                <li title="@m.Module.Description">
                    <NavLink href=@("module/?module=" + @m.Module.FullName)>
                        @m.Module.FullName
                    </NavLink>
                </li>
            }
        </ul>
    </div>
}

@code {
    string[] namespaces;

    Nailhang.Display.Models.ModuleModel[] loadedModules;
    string selectedNamespace = "";

    protected override async Task OnInitializedAsync()
    {
        namespaces = await NailhangModulesService.GetNamespaces();
        loadedModules = await NailhangModulesService.GetModules(selectedNamespace);
    }

    private async Task UpdateModules(ChangeEventArgs e)
    {
        selectedNamespace = e.Value.ToString();
        loadedModules = await NailhangModulesService.GetModules(selectedNamespace);
    }
}
