@page "/netpublicsearch"

@using Nailhang.Blazor.Data
@using Nailhang.Display.NetPublicSearch.Base
@using Nailhang.IndexBase.PublicApi

@inject Nailhang.Display.NetPublicSearch.Base.INetSearch netSearch;

<h1>Поиск:</h1>

<div class="panel panel-default">
    <div class="panel-heading">Поиск:</div>
    <div class="panel-body">
        <input type="text" @oninput="@UpdateFromText"/>
    </div>
</div>

<br />

@if (displayItems == null)
{
    <p><em>Загрузка результата...</em></p>
}
else
{
    <div class="interfaces-list">
        @foreach (var ass in displayItems.OrderBy(q => q.Assembly.FullName)
              .GroupBy(q => new { q.Assembly.FullName, q.Assembly.AssemblyVersion }))
        {
            <div class="assembly_desc_dev">
                <p class="descr_assembly">Сборка: @ass.Key.FullName (@ass.Key.AssemblyVersion)</p>
                <br />

                @foreach (var cl in ass.OrderBy(w => w.Class.Name))
                {
                    <p class="descr_class">Класс: @cl.Class.FullName</p>
                    <br />
                    <ul>
                        @foreach (var method in cl.Class.Methods
                            .OrderBy(w => w.Name)
                            .ThenBy(w => w.ParametersString()))
                        {
                            <li>
                                <span class="descr_result">@method.Returns</span>
                                <span class="descr_method">@method.Name</span>
                                @if (method.GenericParameters.Length > 0)
                                {
                                    <span class="descr_method">@(method.GenericsString(true))</span>
                                }
                                <span class="descr_parameters">(@(method.ParametersString())</span>
                            </li>
                        }
                    </ul>
                }
            </div>
        }
    </div>
}


@code {        
    SearchItem[] displayItems { get; set; }

    protected override void OnInitialized()
    {
        displayItems = new SearchItem[] { };
    }

    string lastSearchReq;

    async Task UpdateFromText(ChangeEventArgs e)
    {
        displayItems = null;

        var containsText = (string)e.Value;
        var text = containsText.ToLower();

        lastSearchReq = text;
        await Task.Delay(500);
        if (lastSearchReq == text)
        {
            if (string.IsNullOrEmpty(text))
                displayItems = new SearchItem[] { };
            else
            {
                var searchres = await Task.Run(() => netSearch.Search(text, 50).ToArray());
                if(lastSearchReq == text)
                    displayItems = searchres;
            }
        }
    }
}
