@page "/netpublicsearch"
@page "/netpublicsearch/{query}"
@page "/netpublicsearch/{query}/{selectedNamespace}"

@using Nailhang.Blazor.Data
@using Nailhang.Display.NetPublicSearch.Base
@using Nailhang.IndexBase.PublicApi

@inject Nailhang.Display.NetPublicSearch.Base.INetSearch netSearch;
@inject NavigationManager navigationManager;
@inject States.NetSearchState netSearchState;

@implements IDisposable;

<h1>.Net поиск</h1>

<div class="form-group row">
    <div class="col">
        <label class="col-form-label">Запрос</label>
        <input class="form-control" type="text"
               @bind-value="@netSearchState.Query" @bind-value:event="oninput" />
    </div>
</div>

@if (netSearchState.Namespaces == null)
{
    <p>Загрузка пространств имен ...</p>
    <div class="spinner-border" role="status" />
}
else
{
    <div class="form-group row">
        <div class="col">
            <label class="col-form-label">Пространство имен</label>
            <select id="select_namespace" class="form-control"
                    @bind="@netSearchState.SelectedNamespace">
                @if (netSearchState.Namespaces != null)
                    @foreach (var ns in netSearchState.Namespaces)
                    {
                        <option value=@ns>@ns</option>
                    }
            </select>
        </div>
    </div>
}



<div class="form-group row">
    <div class="col-sm-7">
        <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   id="chk_public" @bind="@netSearchState.ShowOnlyPublic" />
            <label class="form-check-label" for="chk_public">
                Только публичные
            </label>
        </div>
    </div>

    <div class="col">
        <button class="form-control btn btn-secondary"
                @onclick="@OnUpdateIndex" title="Индекс перестраивается раз в день, если очень необходимо перестроить индекс прямо сейчас, жмем!">
            Перестроить индекс поиска на сервере
        </button>
    </div>
</div>

@if (netSearchState.DisplayItems == null)
{
    <p><em>Загрузка результата...</em></p>
}
else
{
    <div class="interfaces-list">
        <ul>
            @{
                displayCount = 0;
            }

            @foreach (var displayResult in netSearchState.DisplayItems)
            {
                @if (!string.IsNullOrEmpty(netSearchState.SelectedNamespace))
                    if (!displayResult.Namespace.StartsWith(netSearchState.SelectedNamespace))
                        continue;

                @if (netSearchState.ShowOnlyPublic && !displayResult.IsPublic)
                    continue;

                <li>
                    <p>
                        @if (displayResult.IsPublic)
                        {
                            <span class="public_modifier_span">public</span>
                        }
                        else
                        {
                            <span class="notpublic_modifier_span">not public</span>
                        }
                        <a class="sp_class" href=@($"classview/{@Uri.EscapeDataString(displayResult.Assembly.ShortName)}/{@Uri.EscapeDataString(displayResult.FullClassName)}/")>
                            @displayResult.FullClassName
                        </a>
                        <span class="sp_assembly">
                            @displayResult.Assembly.FullName.Split(',').First()
                        </span>
                    </p>
                </li>

                displayCount++;
            }
        </ul>
    </div>

    <p>Найдено: @displayCount элементов.</p>
}

@code {
    [Parameter]
    public string Query { get; set; }

    [Parameter]
    public string SelectedNamespace { get; set; }

    [Parameter]
    public bool IsPublic { get; set; }
    

    int displayCount = 0;

    async Task OnUpdateIndex()
    {
        netSearchState.DisplayItems = null;
        await Task.Run(() => netSearch.RebuildIndex());

        if (string.IsNullOrEmpty(Query))
            netSearchState.DisplayItems = new ISearchItem[] { };
        else
        {
            lastSearchReq = Query;
            await ProcessQuery();
        }
    }

    void UriStateHasChanged(object sender, EventArgs eventArgs)
    {
        UpdateUri();
    }

    void QueryChanged(object sender, EventArgs args)
    {
        UpdateUri();


        Task.Run(() => UpdateFromStateChanged())
            .ContinueWith(t => InvokeAsync(() => StateHasChanged()));
    }


    public void Dispose()
    {
        netSearchState.ShowOnlyPublicChanged -= UriStateHasChanged;
        netSearchState.SelectedNamespaceChanged -= UriStateHasChanged;
        netSearchState.QueryChanged -= QueryChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        netSearchState.DisplayItems = new ISearchItem[] { };
        if (!string.IsNullOrEmpty(SelectedNamespace))
            netSearchState.SelectedNamespace = SelectedNamespace;

        if (!string.IsNullOrEmpty(Query))
            netSearchState.Query = Query;

        netSearchState.ShowOnlyPublic = IsPublic;

        netSearchState.QueryChanged += QueryChanged;
        netSearchState.SelectedNamespaceChanged += UriStateHasChanged;
        netSearchState.ShowOnlyPublicChanged += UriStateHasChanged;

        var namespaces = await Task.Run(() => netSearch.GetNamespaces()
                .SelectMany(w => w.AllNamespaces)
                .Distinct()
                .Where(w => w.Levels < 3).ToArray());

        netSearchState.Namespaces = @namespaces
            .Select(w => w.Namespace).ToArray();

        lastSearchReq = Query;
        await ProcessQuery();
    }

    string lastSearchReq;

    async Task UpdateFromStateChanged()
    {
        netSearchState.DisplayItems = null;

        var containsText = (string)netSearchState.Query;
        var text = containsText.ToLower();

        lastSearchReq = text;
        await Task.Delay(500);
        if (lastSearchReq == text)
            await ProcessQuery();
    }

    async Task ProcessQuery()
    {
        if (string.IsNullOrEmpty(netSearchState.Query))
            netSearchState.DisplayItems = new ISearchItem[] { };
        else
        {
            var searchres = await Task.Run(() => netSearch.Search(netSearchState.Query, 50).ToArray());
            if (lastSearchReq == netSearchState.Query)
                netSearchState.DisplayItems = searchres;
        }
    }

    void UpdateUri()
    {
        if (!string.IsNullOrEmpty(netSearchState.Query))
        {
            var beforenet = navigationManager.Uri.Split("netpublicsearch")[0];
            if (string.IsNullOrEmpty(netSearchState.SelectedNamespace))
                navigationManager.NavigateTo($"{beforenet}netpublicsearch/{Uri.EscapeDataString(netSearchState.Query)}/", false);
            else
                navigationManager.NavigateTo($"{beforenet}netpublicsearch/{Uri.EscapeDataString(netSearchState.Query)}/{Uri.EscapeDataString(netSearchState.SelectedNamespace)}/", false);
        }
    }
}
