<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Nailhang</title>

    <link rel="stylesheet" href="~/lib/tether/dist/css/tether.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body> 
    <nav class="navbar navbar-default navbar-static-top">
        <div class="btn-group" role="group" aria-label="...">
            @Html.ActionLink("Nailhang", "Index", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Элементы привязок", "Index", "Interfaces", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("О программе", "About", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </nav>
       
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @System.DateTime.Now.Year - Nailhang</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tether/dist/js/tether.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
