@model IEnumerable<Nailhang.IndexBase.Module>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nailhang</h1>
    <p class="lead">Утилита для просмотра списка модулей</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div>
        <h2>Модули</h2>
        
        <ul>
            @foreach (var m in Model)
            {
                <li>
                    @{string nameSpace = @Nailhang.Web.Utils.StringUtils.GetNamespace(m.FullName);}
                    <h4>@nameSpace</h4>
                    <p class="module-description">
                        @m.Description
                    </p>

                    <br/>

                    @if(m.Interfaces != null) {
                        <p><i>Интерфейсы:</i></p>
                        <ul>
                            @foreach (var i in m.Interfaces)
                            { 
                                <li>
                                    <b>
                                        @i.Name.Substring(nameSpace.Length + 1)
                                    </b>
                                    @if (!string.IsNullOrEmpty(i.Description))
                                    {
                                        <p class="interface-description">
                                            @i.Description
                                        </p>
                                    }                                    
                                </li>
                            }
                        </ul>
                    }
                    
                    <br />
                    
                    <p class="little-text">
                        Класс модуля: 
                        <br />
                        @m.FullName
                    </p>
                </li>
            }
        </ul>
</div>
    
</div>