@model Nailhang.Web.Models.IndexModel

@{
    ViewBag.Title = "Map";
}

<h2>Карта модулей</h2>

@using (Html.BeginForm("Map", "Home", FormMethod.Get))
{
    @Html.Hidden("formUpdate", true)
    
    Html.RenderPartial("DependenciesSettings", (Nailhang.Web.Models.DisplaySettings)Session["DisplaySettings"]);
    
    <br />
    <div>
        Пространство имен
        @Html.DropDownListFor(w => w.SelectedRoot, Model.RootNamespaces)
    </div>
    <br />

    <input type="submit" value="Обновить" />
}

<br/>

@{
    var depModules = Model.ModulesWithDependencies.OrderBy(w => w.Module.Namespace).ToArray();
}

<table class="table-bordered">
    <thead>
        <tr>
            <th>
            </th>

            @foreach (var m in depModules)
            {
                <th>
                    <div class="vertical-text">
                        <div class="vertical-text__inner" title="@m.Module.Description">
                            @Html.ActionLink(m.Namespace, "Index", "Module", new { module = @m.Module.FullName }, null)
                        </div>
                    </div>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var m in depModules.Select((w, index) => new { w, index }))
        {
            <tr>
                <th>
                    <div class="map-table-row">
                        <div title="@m.w.Module.Description">
                            @Html.ActionLink(m.w.Namespace, "Index", "Module", new { module = @m.w.Module.FullName }, null)
                        </div>
                    </div>
                </th>
                @foreach (var minner in depModules)
                {
                    if (m.w.DependencyItems.Where(w => w.Module != null && w.Module == minner.Module.FullName).Any())
                    {
                        <td class="x-letter-allign">X</td>
                    }else
                    { 
                        <td class="x-letter-allign"></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>